{% extends 'base.html' %}
    {% block title %}
        {{ title }}
    {% endblock %}

    {% block content %}
        <div class="city_list">
            {% for city in cities %}
                <p><strong>{{ city.name }}</strong></p>
            {% endfor %}
        </div>
        <form action="#" method="post">
            <p>Новый город:</p>
            <input type="text" name="city" placeholder='Город' value="">
            <br><br>
            <button type="submit">Сохранить</button>
        </form>
    {% endblock %}